/*
    Created by: Student Name - Student ID
    Created on: Today's Date
    Updated on: Today's Date
    Project: Flexbox
*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    position: relative;
}

body, html {
    font-family: 'Darker Grotesque', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/*
    Created by: Student Name - Student ID
    Created on: Today's Date
    Updated on: Today's Date
    Project: Flexbox
*/

:root {
    /* Grid */
    --number-of-columns: 12;
    --grid-width: calc(100% / var(--number-of-columns));
    --col-1: calc(var(--grid-width) * 1);
    --col-2: calc(var(--grid-width) * 2);
    --col-3: calc(var(--grid-width) * 3);
    --col-4: calc(var(--grid-width) * 4);
    --col-5: calc(var(--grid-width) * 5);
    --col-6: calc(var(--grid-width) * 6);
    --col-7: calc(var(--grid-width) * 7);
    --col-8: calc(var(--grid-width) * 8);
    --col-9: calc(var(--grid-width) * 9);
    --col-10: calc(var(--grid-width) * 10);
    --col-11: calc(var(--grid-width) * 11);
    --col-12: calc(var(--grid-width) * 12);

    /*Typography*/
    --base-font-size: 20px;
    --base-scale: 1.618;
    --base-line-height: calc(1em * var(--base-scale));
    --p: 1.618rem;
    --h4-font-size: 1rem;
    --h3-font-size: calc(var(--h4-font-size)* var(--base-scale));
    --h2-font-size: calc(var(--h3-font-size)* var(--base-scale));
    --h1-font-size: calc(var(--h2-font-size)* var(--base-scale));

    /* Branding */
    --primary: hsl(324, 100%, 90%);
    --primary-hover:  hsl(324, 100%, 90%);
    --secondary: hsl(292, 85%, 87%);
    --secondary-blurred: hs1(292, 80%, 90%);
    --secondary-hover: hsl(292, 85%, 87%);
    --tertiary: hsl(250, 85%, 87%);
    --tertiary-hover: hsl(250, 85%, 87%);
    --font-color: black;

    --gray-0: #222222;
    --gray-1: #666666;
    --gray-2: #999999;
    --gray-3: #dadada;

    --white: white;

    /* Other */
    --table-padding: 1.618rem;
}

* {
    box-sizing: border-box;
    position: relative;
}

.round-image {
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.round-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* End of Images */

/* TASK: Paste your typography styles here */

/* Table Styles */
table {
    border-collapse: collapse;
    border: 1px solid #1f1f1f;
    width: 100%;
}

table th,
table td {
    padding: calc(var(--table-padding) / 2) var(--table-padding);
    border: 1px solid #1f1f1f;
    vertical-align: top;
}

thead {
    background-color: #1f1f1f;
}

thead th {
    color: white;
    text-align: left;
}

tbody tr:nth-child(odd) {
    background-color: #fafafa;
}

tbody tr:hover {
    background-color: #efefef;
}

caption {
    caption-side: bottom;
    text-align: left;
    padding: calc(var(--table-padding) / 2) 0;
}
/* End of Table Styles */

/* Code tag */
code {
    font-family: monospace;
    color: crimson;
    font-size: 0.75rem;
    line-height: 1.618em;
}
/* End of code tag */

/* Special classes */
.w-14 {
    width: 14rem;
}
/* End of Special classes */

/* navigation Styles */
.navbar {
    z-index: 1;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 600;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.navbar-brand {
    display: block;
    overflow: hidden;
    background: url(../images/logo.png) no-repeat center/contain transparent;
    width: 10rem;
    height: 4rem;
    text-indent: -9999px;
    text-decoration: none;
}

.navbar-toggler {
    background-color: transparent;
    border: 0 none;
    color: orange;
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.navigation {
    flex: 0 0 100%;
}

.navigation.collapse .navbar-nav {
    display: none;
}

.navbar-nav {
    list-style-type: none;
    padding: 0;
}

.navbar-nav li > a {
    font-size: 120%;
    color: black;
    display: block;
    overflow: hidden;
    padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

.navbar-nav li.active .home,
.navbar-nav li .home:hover {
    border-bottom-color: orange;
}

.navbar-nav li.active .about,
.navbar-nav li .about:hover {
    border-bottom-color: rgb(255, 238, 80);
}

.navbar-nav li.active .dropdown-toggle.involved,
.navbar-nav li .involved:hover {
    border-bottom-color: lightskyblue;
}

.navbar-nav li.active .blog,
.navbar-nav li .blog:hover {
    border-bottom-color: red;
}

.navbar-nav li.active .contact,
.navbar-nav li .contact:hover {
    border-bottom-color: rgb(17, 168, 85);
}

.navbar-nav li.active .donate,
.navbar-nav li .donate:hover {
    border-bottom-color: purple;
}

.dropdown-toggle::after {
    content: "\f0d7";
    font-family: "FontAwesome";
    font-weight: 400;
    margin-left: 5px;
}

.dropdown-toggle.active::after {
    content: "\f0d8";
  }

.dropdown.collapse .dropdown-menu {
    display: none;
}

.dropdown-menu {
    background-color: lightskyblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    z-index: 1;
}

.dropdown-menu > a {
    flex: 1 0 100%;
    color: var(--white);
    padding: calc((1em / var(--base-scale)) / var(--base-scale)) calc(1em / var(--base-scale));
    text-decoration: none;
}

.dropdown-menu > a:hover {
    background-color: rgb(79, 166, 220);
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

@media screen and (min-width: 768px){

    .navbar-nav li > a.donate{
        color: orange;
        border: 2px solid orange;
        padding-left: 20px;
        padding-right: 20px;
    }

    .navbar-nav li.active .donate,
    .navbar-nav li .donate:hover {
        color: white;
        background-color: orange;
        border-bottom-color: orange;
    }

    .navbar-toggler {
        display: none;
    }

    .navigation {
        flex: 0 0 auto;
    }

    .navigation.collapse .navbar-nav,
    .navbar-nav {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: baseline;
        align-content: center;
    }

    .dropdown-menu {
        position: absolute;
    }
}
/* End of Navigation Styles */

/*typography*/
h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
    margin-bottom: -5px;
}

p{
    font-size: 20px;

}

.index-info {
    margin-left: 80px;
    margin-right: 80px;
}

/* Image styles */

.index {
    position: relative; /* Ensure relative positioning for the container */
}

.index img {
    width: 100%;
    height: auto; /* This ensures the aspect ratio is maintained */
}

.info-img img {
    width: 100%; /* Adjust this if needed */
    height: auto; /* This ensures the aspect ratio is maintained */
}

.title img {
    width: 40%;
    height: auto; /* This ensures the aspect ratio is maintained */
}

.index-link > .fa-solid {
    font-size: 50px;
}

/* Content: Index */

.index-text {
    margin: 10px;
    padding: 10px;
}

.row.test {
    background: linear-gradient(to bottom, rgb(255, 194, 108) 0%, rgb(255, 194, 108) 60%, white 100%);
    margin-top: -5px;
    margin-left: 0px;
    margin-right: 0px;
}

.row.links {
    align-items: baseline;
}

.index{
    background-image: url('../images/index-img.png');
}

.index-link {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.title-buttons{
    width: 420.28px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: 100px;
}

.title-buttons >.btn.btn-blue-two{
    border: none;
    margin: 5px;
}

.title {
    position: relative;

}

/* End of Content: Index */

/*about us*/

.person-section-title{
    display: flex;
    justify-content: center;
}

.team{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.team h2{
    font-size: 32px;
}

.person-section{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
}

.person-img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(255, 238, 80);
}

.team .col-sm-12 h2{
    margin-bottom: -20px;
}

.team .col-sm-12 p{
    margin-bottom: 40px;
}

.team .col-sm-12:nth-child(1) .person-img {
    background-image: url('../images/kim-phipps.jpg');
    background-size: cover;
}

.team .col-sm-12:nth-child(2) .person-img {
    background-image: url('../images/gayle-henry.jpg');
    background-size: cover;
    background-position: center bottom;
}

.team .col-sm-12:nth-child(3) .person-img {
    background-image: url('../images/kiera-phipps.jpg');
    background-size: cover;
}

.team .col-sm-12:nth-child(4) .person-img {
    background-image: url('../images/isaiah-whitaker.jpg');
    background-size: cover;
}

/*end of about us*/


/* content: get involved - events */

.event-intro-img img, .donate-intro-img img, .about-intro-img img, .about-mission-img img{
    width: 80%;
}

.event-intro-img, .donate-intro-img, .about-intro-img, .about-mission-img{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.event-intro, .donate-intro, .about-intro, .about-mission{
    margin-left: 100px;
    margin-right: 20px;
}

.events .row:last-child {
    background-color: #f0f0f0;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}


.event-section{
    background-color: white;
    width: 70%;
    display: flex;
    margin-bottom: 30px;
}

.event-info{
    margin-top: -15px;
    margin-bottom: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

.event-img{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.event-section:nth-child(2) .event-img {
    width: 100%;
    background-image: url('../images/Thrift-Store.jfif');
    background-position: center;
}

.event-section:nth-child(3) .event-img {
    width: 100%;
    background-image: url('../images/pexels-suzy-hazelwood-5010877.jpg');
    background-size: 600px ;
    background-repeat: no-repeat;
    background-position: center;
}

.event-img img{
    display: none;
}

.event-limit{
    margin-bottom: 2px;
}

.event-spots{
    margin-top: 2px;
}

.event-time, .event-limit, .event-spots{
    color:#666666;
}

.more-btn.btn, .less-btn.btn{
    display: none;
}



@media screen and (max-width: 766px){
    .event-section {
        flex-flow: column wrap;
    }

    .event-img{
        width: 300px;
        height: 300px;
    }



    .event-section:nth-child(3) .event-img {
        width: 100%;
        background-size: cover; /* Adjust based on your requirements */
        background-repeat: no-repeat;
        background-position: center;
    }
    /*
    .event-limit, .event-spots, .event-desc, .btn.btn-blue{
        display: none;
    }

    .more-btn.btn{
        display: inline-block;
    }*/

}
/*end of content: get involved - events*/

/* get involved - programs */

.program-section{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: 300px;
    text-align: center;
    color: white;
}

.program-section h1{
    font-weight: 500;
    margin-bottom: -10px;
}

.program-section::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(98, 186, 240, 0.7);
    z-index: 0;
  }

.col-sm-12:nth-of-type(1) .program-section{
    background-image: url('../images/program-1.jpg');
    background-size: cover;
}

.col-sm-12:nth-of-type(2) .program-section{
    background-image: url('../images/program-2.jpg');
    background-size: cover;
}

.col-sm-12:nth-of-type(3) .program-section{
    background-image: url('../images/program-3.jpg');
    background-size: cover;
}

.program.col-sm-12{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 50px;
}

.program.col-sm-12:nth-of-type(1){
    justify-content: flex-end;
}

.program.col-sm-12:nth-of-type(3){
    justify-content: flex-start;
}

.bg{
    width: 300px;
    height: 300px;
    background-color: lightskyblue;
    z-index: -2;
    margin-top: -300px;
    margin-left: 20px;
}

@media screen and (max-width: 990px) {
    .program.col-sm-12:nth-of-type(1){
        justify-content: center;
    }
    
    .program.col-sm-12:nth-of-type(3){
        justify-content: center;
    }
}

/*end of get involved - programs*/

/*get involved - sponsors*/

.sponsors, .sponsor-info{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sponsors h1, .sponsors p{
    margin-bottom: 10px;
}

.sponsor-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.sponsor-img img{
    width: 30%;
    margin: 20px;
}

.sponsor-info{
    background-color: #f0f0f0;
    text-align: center;
}

.sponsor-info h1{
    margin-bottom: 0px;
}

.sponsor-info p{
    margin-bottom: 40px;
}


@media screen and (max-width: 768px){
    .sponsors{
        text-align: center;
    }

    .sponsor-img{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
}

/*end of get involved - sponsors*/

/*blog*/

.story{
    margin-top: 20px;
    margin-bottom: 20px;
}

.article-img{
    flex: none;
    max-width: 100%;
    aspect-ratio: 16/9;
}

.article-img img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.story-desktop{
    display: none;
}


@media screen and (min-width: 768px){ /*desktop*/

    .row > .col-xs-12:first-child .story {
        display: none;
      }

      .story-desktop {
        margin-top: 20px;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-end;
        background: url('../images/placeholder.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 400px;
        margin-bottom: 20px;
        position: relative; /* Add relative positioning to the container */
    }

    .blog-info{
        margin-left: 10px;
        margin-bottom: 10px;
        color: white;
    }

    .article{
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 1.618rem;
        margin-bottom: 1.618rem;
    }
    
    .article-img{
        flex: 0 0 30%;
        max-width: 100%;
        aspect-ratio: 1;
    }
    
    img{
        max-width: 100%;
    }

    .article-img img{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}


/*end of blog*/


/*donate*/

.donate-section{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: -50px;
    margin-right: -50px;
}

.donate-desc{
    background-color: rgb(196, 92, 220);
    border-radius: 20px;
    color: white;
    width: 55%;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.donate-price{
    z-index: 1;
    margin-bottom: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: 10px solid rgb(196, 92, 220);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
    color: rgb(196, 92, 220);
}

.donate-section:last-child .donate-price h1 {
    font-size: 30px;
}

.donate-section:last-child .donate-desc {
    margin-left: -100px;
    margin-right: -100px;
}

.donate li{
    font-size: 20px;
    font-weight: 500;
}

.donate .row:nth-child(2), .donate-link {
    background-color: #f0f0f0;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}

.donate-link > .btn.btn-purple-two{
    font-size: 30px;
    background-color: #f0f0f0;
}

.donate-link{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.donate-link > p{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

/*end of donate */


/*footer styles*/
footer{
    margin: 0;
    background-color: #3b4f84;
    color: white;
    font-weight: 500;
}

footer h4{
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}

footer p{
    font-size: 15px;
}

footer .footer-content{
    border-right: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
}

footer .address a{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer form{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    align-self: center;
}

@media screen and (max-width: 766px){
    footer .row{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .horizontal-line{
        border-bottom: 2px solid white;
        width: 70%;
    }
}

footer .address p{
    margin-top: 2px;
    margin-bottom: 2px;
}

footer i{
    font-size: 25px;
    margin-right: 10px;
}

footer img{
    width: 25%;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*end of footer styles*/

/* Grid System */
.container-fluid,
.container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
}

@media screen and (min-width: 576px){ .container { max-width: 576px; }} /* sm */
@media screen and (min-width: 768px){ .container { max-width: 768px; }} /* md */
@media screen and (min-width: 992px){ .container { max-width: 992px; }} /* lg */
@media screen and (min-width: 1200px){ .container { max-width: 1200px; }} /* xl */

.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin-left: -1rem;
    margin-right: -1rem;
}

[class^="col-"] {
    padding: 0 1rem;
    width: 100%;
    max-width: 100%;
    /*border: 1px solid;*/
}

.col-xs-1 {
    flex: 0 0 var(--col-1);
    max-width: var(--col-1);
    background-color: var(--blue-1);
}

.col-xs-2 {
    flex: 0 0 var(--col-2);
    max-width: var(--col-2);
    background-color: var(--blue-2);
}

.col-xs-3 {
    flex: 0 0 var(--col-3);
    max-width: var(--col-3);
    background-color: var(--blue-3);
}

.col-xs-4 {
    flex: 0 0 var(--col-4);
    max-width: var(--col-4);
    background-color: var(--blue-4);
}

.col-xs-5 {
    flex: 0 0 var(--col-5);
    max-width: var(--col-5);
    background-color: var(--blue-5);
}

.col-xs-6 {
    flex: 0 0 var(--col-6);
    max-width: var(--col-6);
    background-color: var(--blue-6);
}

.col-xs-7 {
    flex: 0 0 var(--col-7);
    max-width: var(--col-7);
    background-color: var(--blue-7);
}

.col-xs-8 {
    flex: 0 0 var(--col-8);
    max-width: var(--col-8);
    background-color: var(--blue-8);
}

.col-xs-9 {
    flex: 0 0 var(--col-9);
    max-width: var(--col-9);
    background-color: var(--blue-9);
}

.col-xs-10 {
    flex: 0 0 var(--col-10);
    max-width: var(--col-10);
    background-color: var(--blue-10);
}

.col-xs-11 {
    flex: 0 0 var(--col-11);
    max-width: var(--col-11);
    background-color: var(--blue-11);
}

.col-xs-12 {
    flex: 0 0 var(--col-12);
    max-width: var(--col-12);
    background-color: var(--blue-12);
}

/* Styles for 'col-sm-...' grid */
@media screen and (min-width: 576px){
    .col-sm-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
        background-color: var(--blue-1);
    }
    
    .col-sm-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
        background-color: var(--blue-2);
    }
    
    .col-sm-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
        background-color: var(--blue-3);
    }
    
    .col-sm-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
        background-color: var(--blue-4);
    }
    
    .col-sm-5 {
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
        background-color: var(--blue-5);
    }
    
    .col-sm-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
        background-color: var(--blue-6);
    }

    .col-sm-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
        background-color: var(--blue-7);
    }
    
    .col-sm-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
        background-color: var(--blue-8);
    }
    
    .col-sm-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
        background-color: var(--blue-9);
    }
    
    .col-sm-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
        background-color: var(--blue-10);
    }
    
    .col-sm-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
        background-color: var(--blue-11);
    }
    
    .col-sm-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
        background-color: var(--blue-12);
    }
}

/* Styles for 'col-md-...' grid */
@media screen and (min-width: 768px){
    .col-md-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
        background-color: var(--blue-1);
    }
    
    .col-md-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
        background-color: var(--blue-2);
    }
    
    .col-md-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
        background-color: var(--blue-3);
    }
    
    .col-md-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
        background-color: var(--blue-4);
    }
    
    .col-md-5 {
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
        background-color: var(--blue-5);
    }
    
    .col-md-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
        background-color: var(--blue-6);
    }

    .col-md-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
        background-color: var(--blue-7);
    }
    
    .col-md-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
        background-color: var(--blue-8);
    }
    
    .col-md-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
        background-color: var(--blue-9);
    }
    
    .col-md-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
        background-color: var(--blue-10);
    }
    
    .col-md-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
        background-color: var(--blue-11);
    }
    
    .col-md-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
        background-color: var(--blue-12);
    }
}

/* Styles for 'col-lg-...' grid */
@media screen and (min-width: 992px){
    .col-lg-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
        background-color: var(--blue-1);
    }
    
    .col-lg-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
        background-color: var(--blue-2);
    }
    
    .col-lg-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
        background-color: var(--blue-3);
    }
    
    .col-lg-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
        background-color: var(--blue-4);
    }
    
    .col-lg-5 {
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
        background-color: var(--blue-5);
    }
    
    .col-lg-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
        background-color: var(--blue-6);
    }

    .col-lg-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
        background-color: var(--blue-7);
    }
    
    .col-lg-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
        background-color: var(--blue-8);
    }
    
    .col-lg-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
        background-color: var(--blue-9);
    }
    
    .col-lg-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
        background-color: var(--blue-10);
    }
    
    .col-lg-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
        background-color: var(--blue-11);
    }
    
    .col-lg-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
        background-color: var(--blue-12);
    }
}

/* Styles for 'col-xl-...' grid */
@media screen and (min-width: 1200px){
    .col-xl-1 {
        flex: 0 0 var(--col-1);
        max-width: var(--col-1);
        background-color: var(--blue-1);
    }
    
    .col-xl-2 {
        flex: 0 0 var(--col-2);
        max-width: var(--col-2);
        background-color: var(--blue-2);
    }
    
    .col-xl-3 {
        flex: 0 0 var(--col-3);
        max-width: var(--col-3);
        background-color: var(--blue-3);
    }
    
    .col-xl-4 {
        flex: 0 0 var(--col-4);
        max-width: var(--col-4);
        background-color: var(--blue-4);
    }
    
    .col-xl-5 {
        flex: 0 0 var(--col-5);
        max-width: var(--col-5);
        background-color: var(--blue-5);
    }
    
    .col-xl-6 {
        flex: 0 0 var(--col-6);
        max-width: var(--col-6);
        background-color: var(--blue-6);
    }

    .col-xl-7 {
        flex: 0 0 var(--col-7);
        max-width: var(--col-7);
        background-color: var(--blue-7);
    }
    
    .col-xl-8 {
        flex: 0 0 var(--col-8);
        max-width: var(--col-8);
        background-color: var(--blue-8);
    }
    
    .col-xl-9 {
        flex: 0 0 var(--col-9);
        max-width: var(--col-9);
        background-color: var(--blue-9);
    }
    
    .col-xl-10 {
        flex: 0 0 var(--col-10);
        max-width: var(--col-10);
        background-color: var(--blue-10);
    }
    
    .col-xl-11 {
        flex: 0 0 var(--col-11);
        max-width: var(--col-11);
        background-color: var(--blue-11);
    }
    
    .col-xl-12 {
        flex: 0 0 var(--col-12);
        max-width: var(--col-12);
        background-color: var(--blue-12);
    }
}

/*Buttons*/
.btn{
    display: inline-block;
    overflow: hidden;
    font-size: 1rem;
    line-height: var(--base-line-height);
    padding: 1em var(--base-line-height);
    text-decoration: none;
    cursor: pointer;
    background-color: var(--white);
    color: var(--primary);
    border: 0 none;
}

.btn:hover{
    background-color: var(--gray-1);
}

.btn.btn-orange-two{
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 500;
    border: 2px solid orange;
    color: orange;
}

.btn.btn-orange-two:hover{
    background-color: orange;
    color: white;
}

.btn.btn-blue-two{
    line-height: 10px;
    font-weight: 500;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: #3b4f84;
}

.btn.btn-blue-two:hover{
    background-color: #283a6b;
}

.btn.btn-purple-two{
    line-height: 10px;
    font-weight: 500;
    color: rgb(196, 92, 220);
    border: 2px solid rgb(196, 92, 220);
}

.btn.btn-purple-two:hover{
    color: white;
    background-color: rgb(196, 92, 220);
}

.btn.btn-blue{
    line-height: 10px;
    font-weight: 500;
    color: #ffffff;
    background-color: lightskyblue;
}

.btn.btn-blue:hover{
    background-color: rgb(76, 166, 222);
}

.btn.btn-red{
    line-height: 10px;
    font-weight: 500;
    color: #ffffff;
    background-color: red;
}

.btn.btn-red:hover{
    background-color: rgb(176, 0, 0);
}

.btn.btn-sm{
    font-size: calc(1em / var(--base-scale));

}

.btn.btn-lg{
    font-size: var(--h3-font-size);
    
}

/* Forms */
fieldset {
    padding: var(--base-line-height);
    border: 1px solid var(--primary);
    margin-bottom: var(--base-line-height);
}

fieldset legend {
    color: var(--primary);
}

.form-group {
    margin-bottom: var(--base-line-height);
}

fieldset .form-group:last-of-type {
    margin-bottom: 0;
}

.form-group label {
    font-weight: bold;
}

.form-control,
.form-check-input {
    accent-color: var(--secondary);
}

input,
select,
textarea {
    font-family: inherit;
    font-size: 1rem;
    line-height: var(--base-line-height);
    padding: calc((1em / var(--base-scale)) / var(--base-scale) / var(--base-scale)) calc(1em / var(--base-scale) / var(--base-scale));
    color: var(--font-color);
}

input.form-control {
    width: 100%;
    max-width: 100%;
}

textarea {
    width: 100%;
    max-width: 100%;
    min-height: calc(4 * var(--base-line-height));
}

/* Pseudo Selectors */
.form-control:focus {
    outline: var(--secondary-blurred) solid 2px;
    outline-offset: 2px;
}

.form-check-input:checked {
    box-shadow: 0 0 4px 4px var(--secondary-blurred);
}

.form-control:disabled,
.form-control:hover:disabled,
input:disabled,
input:hover:disabled {
    background-color: var(--gray-3);
    color: var(--gray-2);
    cursor: not-allowed;
}

input:invalid,
input:focus:invalid {
    border-color: red;
    box-shadow: 0 0 2px red;
    outline: red solid 2px;
    outline-offset: 2px;
}



/* End of Branding */

/*
    * Window size styles
    * Do not edit or delete this from examples
*/
#windowSize {
    padding: 0.25rem 0.5rem;
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    z-index: 10;
}
/* End of Window size styles */

/*
    * Window size styles
    * Do not edit or delete this from examples
*/
#windowSize {
    padding: 0.25rem 0.5rem;
    background-color: rgba(0,0,0,0.3);
    color: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    user-select: none;
    z-index: 10;
}
/* End of Window size styles */